<form (ngSubmit)="createUpdate()">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" [(ngModel)]="recipe.name" class="form-control">
  </div>

  <div class="form-group">
    <label for="name">Ingredientes</label>
    <textarea rows="4" cols="50" name="ingredients" [(ngModel)]="recipe.ingredients" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label for="name">Instrucciones</label>
    <textarea rows="4" cols="50" name="instructions" [(ngModel)]="recipe.instructions" class="form-control"></textarea>
  </div>

  <input type="submit" value="Enviar" class="btn btn-primary">
</form>
