<div class="container mt-4">
  <div class="row">
    <div *ngFor="let recipe of recipes" class="col-md-4 mt-2 mb-2" id={{recipe._id}}>
      <div class="card" style="width: auto;">
        <img class="card-img-top" src={{recipe.image}} alt="Card image cap" height="200px">
        <div class="card-body">
          <small class="card-text">ID: {{recipe._id}}</small>
          <h5 class="card-title">{{recipe.name}}</h5>
          <p><b>Ingredientes</b></p>
          <pre class="card-text">{{recipe.ingredients}}</pre>
          <p><b>Pasos</b></p>
          <pre class="card-text">{{recipe.instructions}}</pre>
          <div>
            <button type="button" class="btn mr-3 btn-outline-primary" (click)="checkRecipe(recipe)">Ver</button>
            <button type="button" class="btn mr-3 btn-outline-warning" (click)="updateRecipe(recipe)">Actualizar</button>
            <button type="button" class="btn btn-outline-danger" (click)="deleteRecipe(recipe)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
