<div class="content">
  <div *ngFor="let recipe of recipes">
    <div class="card" style="width: 18rem;">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title">{{recipe.name}}</h5>
        <p class="card-text">{{recipe.ingredients}}</p>
        <p class="card-text">{{recipe.instructions}}</p>
        <div>
          <a class="btn btn-warning" (click)="updateRecipe(recipe)">Actualizar</a>
          <a class="btn btn-danger" (click)="deleteRecipe(recipe)">Eliminar</a>
        </div>
      </div>
    </div>
  </div>
</div>
