<div class="container mt-4 mb-4">
  <div class="row">
    <h1>Ver receta</h1>
  </div>
  <div class="row">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-auto mr-2">
            <img src={{recipe?.image}} class="img-fluid" alt="" width="250px" height="250px">
        </div>
        <div class="col">
          <div class="card-block px-2">
            <small class="card-text">ID: {{recipe?._id}}</small>
            <h5 class="card-title">{{recipe?.name}}</h5>
            <p><b>Ingredientes</b></p>
            <pre class="card-text">{{recipe?.ingredients}}</pre>
            <p><b>Pasos</b></p>
            <pre class="card-text">{{recipe?.instructions}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
